nav{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    gap: 10px;
}

li{
    cursor: pointer;
}

.banner{
    display: flex;
    align-items: center;
    background-image: url('../../public/images/header_bg.png');
    background-repeat: none;
    background-size: cover;
}

.card-container{
    display: flex;
}